{{#each blogs as |blog|}}
<div class="card">
    <div class="card-header">
        <h3><a href="/blogs/{{blog.id}}">{{blog.title}}</a></h3>
        <h5>User: {{user.username}}</h5>
    </div>
    <div class="card-body">
        <p>{{blog.body}}</p>
        <span>posted on: {{format_date blog.date_created}}</span>
    </div>
</div>
{{/each}}